/*
    Layout
-----------------------------------------*/
.header-section {
    @include layout-properties(1);
    @media (min-width: $desktop-width) {
        display: flex;
        align-items: center;
    }
}

.hero-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        display: flex;
        align-items: center;
        padding-bottom: 8.4rem;
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-image: url(https://cdn2.hubspot.net/hubfs/359995/Landing%20Pages/ppc/vilt/hero-section-bg-img-mb-02-comp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(100% - 30%) 0;
        z-index: -9999;
        @media (min-width: $desktop-width) {
            background-image: url(https://cdn2.hubspot.net/hubfs/359995/Landing%20Pages/ppc/vilt/hero-section-bg-img-01-comp.jpg);
            background-position: 0 calc(100% - 40%);
        }
    }
    &::after {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: hsla(203, 98, 21, 0.8);
        z-index: -8888;
    }
    .hubspot-simple-form {
        display: none;
        @media (min-width: $desktop-width) {
            display: block;
        }
    }
}

.mobile-form-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        display: none;
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $color-light-blue;
        z-index: -9999;
    }
}

.stats-section {
    @include layout-properties(2);
}

.benefits-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        @include layout-properties(3); 
        padding-top: 9.6rem;;   
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $color-light-gray;
        z-index: -9999;
    }
}

.details-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        @include layout-properties(3);    
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $color-light-blue;
        z-index: -9999;
    }
}

.awards-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        @include layout-properties(3);    
    }
}

.client-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        @include layout-properties(3);    
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $color-light-gray;
        z-index: -9999;
    }
}

.contact-section {
    @include layout-properties(2);
    @media (min-width: $desktop-width) {
        display: flex;
        @include layout-properties(0);
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $color-light-blue;
        z-index: -9999;
    }
}

/* Footer */
.footer-section {
    @include layout-properties(1);
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $color-light-gray;
        z-index: -9999;
    }
}

