/*
    Mixin
---------------------------------------------*/
@mixin layout-properties($amount) {
    width: 100vw;
    padding: 2.4rem * $amount 2.4rem;
    position: relative;
    @media (min-width: $desktop-width) {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }
}

@mixin dropshadow ($opacity) {
    -webkit-box-shadow: 0px 10px 14px -10px rgba(0,0,0,$opacity);
    -moz-box-shadow: 0px 10px 14px -10px rgba(0,0,0,$opacity);
    box-shadow: 0px 10px 14px -10px rgba(0,0,0,$opacity);
}